*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
.logo img{
    padding: 16px 120px;
   
}
.btn{
    background-color: #30B868 ;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px ;
    font-weight: 600 ;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
.btn:hover{
    background-color: #30B868;
}


header{
    background-color: #FFFFFF;
    padding-top: 16px;
}
nav{
    max-width: 1600px;
    border: 120px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    color: white;
    
    
    


}
nav .menu{
    border: 630px;
    display: flex;
    list-style-type: none;
    align-items: center;
    font-weight: 500;
    gap: 32px;
}
nav .menu a{
    font-size: 16px ;
    color: #000000;
    text-decoration: none;
}
.banner {
    position: relative;
    width: 100%;
    height: 500px; 
    background-image: url('./assets/hero-bg.png'); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}


.banner-content {
    max-width: 600px;
    padding: 20px;
}

.access{
   
    display: inline-block;
    background-color:white;
    padding: 8px 12px;
    border-radius: 20px;
    margin-bottom: 16px;
    color: #30B868;
    font-size: 14px;
    transition: 0.3s;
}
.access:hover{
    background-color: #91baa2;
    color:white;
}


h1 {
    font: 72px;
    color: #FFFFFF;
}
.green{
    color: #30B868;
}
 .banner-content p {
    margin-bottom: 20px;
    color: white;
    font-weight: 400;
    text-align: center;
    line-height: 24px;


}


.cta-btn a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
    font-weight: bold;
}

.btn btn-primary {
    background-color: #30B868 ;
    color: white;
}

.btn-secondary {
    background-color: transparent;
    border: 1px solid white; 
    color: white;
}
.btn-secondary:hover{
    background-color: white;
    color:#001931;
}
.section-heading{
    font-style: bold;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 36px;
    background-color: #f3f5f7;
    padding-top: 70px;
    padding-left: 120px;
    padding-right: 120px;
    

}

.icon-wrap{
    width: 60px;
    height: 60px;
    background: rgba(249, 85, 85, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 16px;
}

.note-info {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 40px 120px;
    background-color: rgba(255, 255, 255, 1);
}

.info-card {
    flex: 1;
    text-align: center;
    border-radius: 8px;
    padding: 32px 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    


    
}
p {
    margin-bottom: 20px;
    color: #627382;
    font-weight: 400;
    text-align: center;
    line-height: 24px;
    font-size: 14px;
}
.notes-container{
    margin-bottom: 0;
}
.second-brain-section{
    background-color:#FFFFFF;
    padding: 120px;
    gap: 40px;
}
.content-container{
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 120px;
    display: flex;
    align-items: center;
    gap: 60px;
}
.text{
    font-style: bold;
    font-weight: 700;
    font-size: 48px;
    text-align: left;
}
.main-heading{
    font-style: medium;
    font-weight: 500;
    font-size: 16px;
    text-align: left;
    text-transform: uppercase;
    color: #30B868;
    margin-bottom: 16px;

}
.subheading{
    color: #001931;
    font-style: bold;
    font-weight: 700;
    font-size: 48px;
    text-align: left;
    text-transform: capitalize;
    margin-bottom: 16px;
}
.para-content{
    color: #627382;
    font-style: regular;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    margin-bottom: 40px;

}
.pointed-list{
    list-style: none;
    color: rgba(0, 25, 49, 1);
    font-style: medium;
    font-weight: 500;
    font-size: 16px;
    text-align: left;
    margin-bottom: 40px;
}
.pointed-item{
    color: black;
    padding-left: 30px;    
    position: relative;
    margin-bottom: 10px;
}
.pointed-item::before{
    content: "";
    width: 20px;
    height: 20px;
    background-image: url('./assets/CheckCircle.png');
    background-size: cover;
    position: absolute;
    border: 50%;
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
    
}
.hero-section{
    background-color: rgba(247, 246, 242, 1);
    padding: 80px 40px 88px 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    height: 384px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 60px;
}
.frame-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    text-align: center;
    padding: 0;
}
.frame-container h1{
    font-size: 40px;
    color:black;
    margin: 0;
}
.frame-container h5{
    list-style: none;
    color: rgba(0, 25, 49, 1);
    font-style: regular;
    font-weight: 400;
    font-size: 16px;
    text-align: center;

}

.cta-btn{
    padding: 15px 30px;
}
.frame-text{
    font-size: 14px;
    color: #666666;
    margin: 0;

}